[Desktop Entry]
Name=Senet Pro
Comment=Ancient Egyptian Board Game by Saeed Badreldin
Exec=/usr/bin/senet_pro
Icon=hel-senet
Terminal=false
Type=Application
Categories=Game;BoardGame;Education;
Keywords=senet;egypt;board;strategy;
GenericName=Board Game
